<!DOCTYPE html>
<html lang="en" manifest="/offline.appcache">
<head>
  <title>Conferencia Rails 2011</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <link rel="apple-touch-icon" href="apple-confror2011-icon.png"/>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
  <%= yield :head %>
  <%= csrf_meta_tag %>

  <script type="text/javascript">
  var cacheStatusValues = [];
  cacheStatusValues[0] = 'uncached';
  cacheStatusValues[1] = 'idle';
  cacheStatusValues[2] = 'checking';
  cacheStatusValues[3] = 'downloading';
  cacheStatusValues[4] = 'updateready';
  cacheStatusValues[5] = 'obsolete';

  var cache = window.applicationCache;
  cache.addEventListener('cached', logEvent, false);
  cache.addEventListener('checking', logEvent, false);
  cache.addEventListener('downloading', logEvent, false);
  cache.addEventListener('error', logEvent, false);
  cache.addEventListener('noupdate', logEvent, false);
  cache.addEventListener('obsolete', logEvent, false);
  cache.addEventListener('progress', logEvent, false);
  cache.addEventListener('updateready', logEvent, false);

  function logEvent(e) {
      var online, status, type, message;
      online = (navigator.onLine) ? 'yes' : 'no';
      status = cacheStatusValues[cache.status];
      type = e.type;
      message = 'online: ' + online;
      message+= ', event: ' + type;
      message+= ', status: ' + status;
      if (type == 'error' && navigator.onLine) {
          message+= ' (prolly a syntax error in manifest)';
      }
      console.log(message);
  }

  window.applicationCache.addEventListener(
      'updateready',
      function(){
          window.applicationCache.swapCache();
          console.log('swap cache has been called');
      },
      false
  );

  setInterval(function(){cache.update()}, 10000);
  </script>
</head>
<body>

<% if content_for? :multipage %>
  <%= yield :multipage %>
<% else %>
  <div data-role="page">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
<% end %>

</body>
</html>
